.el-select {
  width: 100%;
}

.el-input {
  width: 100%;
}

::v-deep.el-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex;
  align-items: center;
}

// ::v-deep.el-col {
//   padding-left: 0 !important;
//   padding-right: 0 !important;
// }

.el-form-item {
  margin: 5px 0;
}

.el-form-item--mini.el-form-item,
.el-form-item--small.el-form-item {
  margin-bottom: 0px;
}

::v-deep.el-form-item__content {
  margin-left: 0px !important;
}