.page .theme-default-content:not(.custom) {
  max-width: none;
}

.el-table   
  table
    border-collapse unset
    margin unset
    display inherit
    overflow-x unset
  tr
    border-top unset
    &:nth-child(2n)
      background-color #f6f8fa
  th, td
    border unset
    padding unset


